@uilab:registry=https://pkgs.dev.azure.com/AVEVA-VSTS/_packaging/UX@local/npm/registry/
always-auth=true

# This is used in tandem with the "engines" property of the package.json file to ensure that utilizing a non-supported version of node or npm results in an error.
engine-strict=true

# This is currently necessary because some of the build scripts that run during our build pipelines are running out of memory.
# Feel free to re-evaluate the necessity of this at a later date.
node-options=--max_old_space_size=8192

# This comes from our usage of @angular/flex-layout in order to support @angular/cdk@14.0.6
# Until we remove that dependency, we will need this flag to prevent npm from throwing errors when it tries to install peerDependencies
legacy-peer-deps=true
