/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@uilab/scss/typography';
@use '@uilab/scss/theme';
@use '@angular/material' as mat;

$kids-primary: mat.define-palette(mat.$cyan-palette);
$kids-accent: mat.define-palette(mat.$yellow-palette);

// Typography config based on the default, but using "Arial" as the
// default font family for all levels.
$kids-typography: mat.define-typography-config(
  $font-family: 'Arial',
);

$kids-theme: mat.define-light-theme(
  (
    color: (
      primary: $kids-primary,
      accent: $kids-accent,
    ),
    typography: $kids-typography,
  )
);

@include mat.core();
@include mat.typography-hierarchy($kids-typography);
@include mat.all-component-themes($kids-theme);
@include mat.button-typography($kids-typography);

// https://v15.material.angular.io/guide/theming#reading-hues-from-palettes
$my-palette: mat.define-palette(mat.$pink-palette);
@mixin new-border-color {
  background: mat.get-color-from-palette($my-palette, 'lighter');
  color: mat.get-color-from-palette($my-palette, 'lighter-contrast');
  border: 2px solid greenyellow !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: typography.$uilab-typography-font-family;
}
