<uilab-app-bar
  companyName="companyName"
  appName="appName"
  class="app-bar mat-typography"
></uilab-app-bar>

<div class="app-body mat-typography">
  <uilab-nav-rail [items]="appNavigation"> </uilab-nav-rail>

  <div class="content-area">
    FAB
    <button
      mat-fab
      color="warn"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>home</mat-icon>
    </button>

    <br /><br />
    MINI FAB
    <button
      mat-mini-fab
      color="primary"
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <br /><br />
    MAT TEXT BUTTON
    <button class="custom-border" mat-button>TEST</button>

    <br /><br />
    MAT CHECKBOX (Accent color)
    <mat-checkbox
      class="example-margin"
      [(indeterminate)]="indeterminate"
      [labelPosition]="labelPosition"
      [disabled]="disabled"
    >
      I'm a checkbox
    </mat-checkbox>

    <br /><br />
    MAT PROGRESS BAR (Primary color)
    <mat-progress-bar
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value"
      [bufferValue]="bufferValue"
    >
    </mat-progress-bar>

    <br /><br />
    BLOCK using mixin
    <div class="my-area">NEW</div>    

    <testavapps-nx-welcome></testavapps-nx-welcome>
  </div>
</div>
